<%- include("../partials/header") %>
    
  
<div class="container">
    <header class="jumbotron text-center  mt-4">
        <div class="container">
        <h1><i class="fas fa-campground"></i>WELCOME TO YELPCAMP</h1>
        <p class="lead"> View our hand picked campgrounds from all over the world</p>
        <button class="btn btn-primary btn-lg" onclick="location.href = '/campgrounds/new' ;">
            Add New Campground
        </button>
        </div>
    </header>
    
    <div class="row text-center" >
         <div class="col-lg-12 ">
             <% if(noMatch !== null) { %>
             <h3><%= noMatch %></h3>
             <p>
            	<form action="/campgrounds" method="GET" class="form-inline">
            		<div class="form-group pl-5" style="margin: 0 auto;">
            			<input type="text" name="search" placeholder="Campground search..." class="form-control">
            			<input type="submit" value="Search" class="btn btn-success ml-1">
            		</div>
            	</form>
            </p>
             <% } %>
         </div>
    </div>
    
    <div class="row text-center">
        <% campgrounds.forEach(function(campground){ %>
        <div  class="col-lg-3 col-md-4 col-sm-6 mb-4">
            
            <div class="card">
                 <a href="/campgrounds/<%= campground._id %>">
  <img  class="card-img-top " src=" <%=campground.image%> " alt="<%=campground.name%>">
  </a>
  <div class="card">
      
      <a href="/campgrounds/<%= campground._id %>">
          <div class="card-body">
              <h5 style="color:black;" class="card-title text-capitalize font-italic"><%=campground.name.toUpperCase()%></h5>
          </div>
    
    </a>
  </div>
</div>
               
    
        </div>
  

                 <% }); %>
  
    







</div>


<%- include("../partials/footer") %>


